
{% extends 'templates/base_layout.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron mt-3">
        <h1 class="display-3">Hello, Slim MVC!</h1>
        <p class="lead">If you can see this means your app is up and running. You can also this template as starting point.</p>
        <hr class="my-2">
        <p>All the power of Boostrap 4 at your finger tips.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#!" role="button">Example of Button</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
